body{
    background-color: #c8d3e8;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.menu-container ul{
    display: flex;
    list-style-type: none;
}

.menu-container ul li{
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(10, 55, 205);
}

.menu-container ul li a{
    text-decoration: none;
}

